django>=5.0
django-ninja>=1.1
django-cors-headers
python-dotenv
crewai
langchain
pydantic>=2.0
pymongo
uvicorn
gunicorn
requests
openai
PyYAML
beautifulsoup4
Pillow
imagehash
playwright
scrapling
aiofiles
chromadb
huggingface_hub
ImageHash
json_repair
openpyxl
pdfplumber
playwright
PyJWT
PyPika
regex
uuid_utils
